body {
  font-family: 'Bree Serif', serif;

  width: 600px;
  margin: 20px auto;
}



/*////////////////////////////////////*/
/*////////////// Header //////////////*/
/*////////////////////////////////////*/

#filterTasks {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #F1F1F1;

  padding: 1em;
  margin-bottom: 1em;
}

#filterTasks h1 {
  font-size: 1.4em
}

.actions span {
  background-color: white;
  border: 1px solid #CCC;
  padding: .4em;
}

.actions span:hover {
  background-color: lightgray;
}

.actions span:first-child {
  border-radius: 5px 0 0 5px;
}

.actions span:last-child {
  border-radius: 0 5px 5px 0;
}

.actions span:not(:last-child) {
  border-right: none;
}

.actions span a {
  color: #000;
  text-decoration: none;
}

.actions span a:hover {
  cursor: pointer;
}



/*////////////////////////////////////*/
/*////////////// Tasks ///////////////*/
/*////////////////////////////////////*/

#listTasks {
  margin-bottom: 1em;

  max-height: 400px;

  overflow-y: auto;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .8em 0 .8em .5em;

  border-bottom: 1px solid #CCC;
  border-left: 4px solid dimgray;
  border-radius: 5px 0 0 5px;

  transition: .05s ease-out;
}

/* Couleur des tâches */
.color-cornflowerblue { border-left-color: cornflowerblue; }
.color-chocolate { border-left-color: chocolate; }
.color-forestgreen { border-left-color: forestgreen; }
.color-gold { border-left-color: gold; }
.color-red { border-left-color: red; }
.color-rebeccapurple { border-left-color: rebeccapurple; }
.color-dimgray { border-left-color: dimgray; }

.color-cornflowerblue .task-name { color: cornflowerblue; }
.color-chocolate .task-name { color: chocolate; }
.color-forestgreen .task-name { color: forestgreen; }
.color-gold .task-name { color: gold; }
.color-red .task-name { color: red; }
.color-rebeccapurple .task-name { color: rebeccapurple; }
.color-dimgray .task-name { color: dimgray; }

/* Un 'text-decoration: line-through;' custom */
/*.status-yes .task-name {
  position: relative;
}

.status-yes .task-name:before {
  border-bottom: 3px solid black;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
}*/

.status-yes {
  opacity: .3;
  background-color: #EEE;
}

.status-yes .task-name {
  text-decoration: line-through double black;
}

.todo-item:not(:last-child) {
  margin-bottom: 4px;
}

.todo-item:hover {
  cursor: default;
  border-left-width: 8px;
}

.todo-item span {
  padding-top: .1em;
  padding-bottom: .1em;
}

#listTasks .actions span:hover {
  background-color: lightgray;
}

/* Permet de custom la scroll bar */
ul::-webkit-scrollbar {
    width: .5em;
}

ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

ul::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 1px solid slategrey;
}

.separator {
  border: 2px solid #AAA;
}



/*////////////////////////////////////*/
/*/////////////// Form ///////////////*/
/*////////////////////////////////////*/

#newTask {
  margin-bottom: 1em;
}

#newTaskName,
#addTaskButton {
  padding: 0.4em;

  border: 1px solid #CCC;
}

input[type=text] {
  border-right: none;
  border-radius: 5px 0 0 5px;
}

input[type=text]:focus {
  outline: none;
  box-shadow: 0 0 5px skyblue;
}

#newTaskCategory,
#newTaskColor {
  border: none;

  padding: 0.4em;

  outline: none;
}

#newTaskColor {
  background-color: red;
}

input[type=submit] {
  background-color: white;
  border-radius: 0 5px 5px 0;

  outline: none;
}

input[type=submit]:hover {
  color: white;
  background-color: gray;

  border-radius: 0 5px 5px 0;
}

input[type=submit]:active {
  color: black;
  background-color: skyblue;
}


/*////////////////////////////////////*/
/*////////////// Footer //////////////*/
/*////////////////////////////////////*/

footer {
  margin-top: 200px;

  text-align: center;
  color: #333;
}
